html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  color: #000;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

// Flexbos styles
.flex {
  display: flex;

  &-jc-sa {
    justify-content: space-around;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

  &-d-col {
    flex-direction: column;
  }

  &-d-row {
    flex-direction: row;
  }
}

.text-a-c {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.red {
  color: #ea3943;
}

.green {
  color: #16c784;
}

.blue {
  color: #61affe;
}

.gray {
  color: #a0aec0;
}

.img-size {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  overflow: hidden;
}

.p-16 {
  padding: 16px !important;
}

.p-t-10 {
  padding-top: 10px;
}

.f-s-20 {
  font-size: 20px;
}
.m-r-10 {
  margin-right: 20px;
}
