.heading {
  margin: 50px;

  & h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 60px;
  }

  & .gainer-loser {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    & .marketcap {
      display: flex;
      flex-direction: column;
      -webkit-box-shadow: 10px 13px 12px -11px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 13px 12px -11px rgba(0, 0, 0, 0.75);
      padding: 4px 30px;
      border: 1px solid #a0aec0;
      margin: 20px;
    }

    & .marketcap p {
      font-size: 17px;
    }

    & .gainer-wrapper,
    & .loser-wrapper {
      display: flex;
      flex-direction: column;
      -webkit-box-shadow: 10px 13px 12px -11px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 13px 12px -11px rgba(0, 0, 0, 0.75);
      padding: 4px 80px;
      border: 1px solid #a0aec0;
      margin: 20px;

      & p,
      & p {
        font-size: 17px;
      }

      & .gainer-price,
      & .loser-price {
        padding: 4px;
        font-size: 20px;

        & .m-r-40 {
          margin-right: 40px;
        }
      }

      & .gainer-name,
      & .loser-name {
        padding: 10px;
        font-size: 18px;

        & img {
          width: 30px;
          margin-right: 10px;
        }
      }
    }

    & .marketcap {
      border-top: 8px solid #61affe;
    }

    & .gainer-wrapper {
      border-top: 8px solid #16c784;
    }

    & .loser-wrapper {
      border-top: 8px solid #ea3943;
    }
  }
}
